@using Core.MVC.PlayerVsMonkeyBot.Models
@using Core.TicTacToe.Constants
@model Core.MVC.PlayerVsMonkeyBot.Models.PlayerVsMonkeyBotMakeBotStepCommandResult

@{
    ViewBag.Title = "MakeBotStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Player Vs MonkeyBot</h2>

@for (var x = 0; x < @Model.CellSize; x++)
{
    for (var y = 0; y < @Model.CellSize; y++)
    {
        <a href="@Url.Action("MakeStep", "PlayerVsMonkeyBot", new PlayerVsMonkeyBotMakeStepCommand { X = x, Y = y, GameId = @Model.GameId })" class="btn btn-default" style="width: 50px; height: 50px; font-size: 40px; vertical-align: central">
            @if (@Model.GameField[x, y] == CellCondition.Circle)
            {
                <span>O</span>
            }

            @if (@Model.GameField[x, y] == CellCondition.Cross)
            {
                <span>X</span>
            }
        </a>
    }
    <br />
}
